version: "3.8"

services:
  php:
    build:
      context: ./docker/php
    container_name: weather-php
    working_dir: /var/www/html
    volumes:
      - ./app:/var/www/html
    depends_on:
      - db

  nginx:
    image: nginx:1.27-alpine
    container_name: weather-nginx
    ports:
      - "8080:80"
    volumes:
      - ./app:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  db:
    image: postgres:16-alpine
    container_name: weather-db
    environment:
      POSTGRES_USER: symfony
      POSTGRES_PASSWORD: symfony
      POSTGRES_DB: weather
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:

