# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'


    App\Controller\:
        resource: '../src/Controller/'
        public: true
        tags: ['controller.service_arguments']

    App\Service\Weather\DefaultTrendCalculator:
        public: false

    App\Service\Weather\ThirdPartyWeatherProvider:
        arguments:
            $apiBaseUrl: '%env(WEATHER_API_BASE_URL)%'
            $apiKey: '%env(WEATHER_API_KEY)%'
 
    App\Service\Weather\FakeThirdPartyWeatherProvider:
        public: true
        arguments:
            $logger: '@logger'
            $initialTemperatures: { sofia: 4, plovdiv: 7 }

    App\Service\Weather\WeatherProviderInterface:
        alias: App\Service\Weather\FakeThirdPartyWeatherProvider

    App\Service\Weather\TrendCalculatorInterface:
        alias: App\Service\Weather\DefaultTrendCalculator

    App\Service\Weather\CachedWeatherProvider:
        decorates: App\Service\Weather\WeatherProviderInterface
        arguments:
            $inner: '@App\Service\Weather\CachedWeatherProvider.inner'
            $repository: '@App\Repository\WeatherMeasurementRepository'
            $logger: '@logger'
            $ttlSeconds: 3600

    App\Service\Weather\WeatherService:
        public: true
        arguments:
            $weatherProvider: '@App\Service\Weather\WeatherProviderInterface'
            $measurementRepository: '@App\Repository\WeatherMeasurementRepository'
            $trendCalculator: '@App\Service\Weather\TrendCalculatorInterface'
            $logger: '@logger'

    App\Service\Weather\HourlyWeatherFetcher:
        arguments:
            $weatherProvider: '@App\Service\Weather\ThirdPartyWeatherProvider'

    App\Command\FetchHourlyWeatherCommand:
        arguments:
            $defaultCities: ['sofia', 'plovdiv', 'varna']
        tags: ['console.command']

